  
  ion-label {
    margin-left: 0;
    margin-right: 8px;  // Adjust this value if needed
  }
  
  ion-checkbox {
    --background: #f0f0f0; /* Background color of the checkbox */
    --checkmark-color: #ffffff; /* Color of the checkmark */
    --checkbox-background-checked: #f39b1f;
  }

  ion-checkbox::part(container) {
    border-radius: 3px;
    border: 2px solid #f7f4f0;
  }

  ion-content {
    ion-list {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two equal-width columns */
      gap: 10px; /* Space between the items */
      padding: 10px;
    }
    
    ion-item {
      display: flex;
      align-items: center;
      padding: 8px;
    }
  }
  
  