<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="page-heading">
    <ion-text><h3>Dietary Intolerances</h3></ion-text>
    <ion-text>Select all that apply</ion-text>
  </div>

  <ion-list>
    <ion-item *ngFor="let restriction of restrictions">
      <ion-checkbox label-placement="end" justify="start" (ionChange)="onCheckboxChange($event, restriction)">{{restriction}}</ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- List of dynamically added other restrictions -->
  <ion-list>
    <ion-item *ngFor="let selectedRestriction of getNewRestrictions()">
      <ion-label>{{ selectedRestriction }}</ion-label>
      <ion-button fill="none" (click)="removeRestriction(selectedRestriction)">
        <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Input for adding other restrictions -->
  <ion-item>
    <ion-input 
      placeholder="Other" 
      [(ngModel)]="newRestriction">
    </ion-input>
    <ion-button 
      slot="end" 
      (click)="addOtherRestriction()">
      Add
    </ion-button>
  </ion-item>

</ion-content>
