<!-- tab2.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centered-content">
  <!-- Iterate over saved recipes and display cards -->
  <ion-card *ngFor="let recipe of recipeService.savedRecipes">
    <img [src]="recipe.img" alt="Recipe image"/>
    <ion-card-header>
      <ion-card-title>{{ recipe.name }}</ion-card-title>
      <ion-card-subtitle>{{ recipe.subtitle }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ recipe.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
