<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved Recipes
    </ion-title>
    <ion-buttons slot="start">
      <ion-img src="../../assets/Images/recipe-radar-logo.png" class="logo"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="centered-content">
  <!-- Iterate over saved recipes and display cards -->
  <ion-card *ngFor="let recipe of recipeService.savedRecipes">
    <img alt="recipe image" src="{{recipe.img}}"/>    
    <ion-card-header>
      <ion-card-title>{{ recipe.name }}</ion-card-title>
      <ion-card-subtitle>{{ recipe.subtitle }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ recipe.description }}
    </ion-card-content>
    <ion-button class="expand-button" (click)="toggleExpand(recipe)">
      <ion-icon slot="icon-only" name="caret-down"></ion-icon>
    </ion-button>

    <!-- Expanded content section -->
    <div *ngIf="recipe.expanded" class="expanded-content">
      <h2>Ingredients</h2>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients"><ion-checkbox labelPlacement="end">{{ ingredient }}</ion-checkbox></li>
      </ul>
      <h2>Directions</h2>
      <ol>
        <li *ngFor="let direction of recipe.directions">{{ direction }}</li>
      </ol>
      <h2>Nutritional Facts</h2>
      <ul>
        <li *ngFor="let fact of recipe.nutrition">{{ fact }} </li>
      </ul>
      <ion-button (click)="toggleExpand(recipe)" class="collapse-button">
        <ion-icon slot="icon-only" name="caret-up"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
</ion-content>
