ion-card {
    --background: #ffffff;
    --color: #000;
    max-width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 20px;
    overflow: hidden;
    border-top: 5px solid #FA9512; 
    word-wrap: break-word; // Ensure words wrap within the card 
}
  
ion-card-title, ion-card-subtitle, ion-card-content {
    --color: #000;
    white-space: pre-wrap; // Allow text to wrap and go to the next line
}

.button-container {
    display: flex;        // Enable flex layout
    justify-content: center; // Center horizontally
    margin-top: 10px;     // Add space from content
}

ion-button {
    --color: #ffffff;      // Button icon and text color
    --background: #FA9512;  // Default button background
}

.card-button{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}

ion-card img {
    width: 100%;         
    height: auto;        
    border-radius: 10px 10px 0 0; 
    object-fit: cover;   
    max-height: 200px;
}

.expand-button{
    margin-bottom: 5%;
    margin-left: 5%;
    display: block;
    margin: 10px auto 5%;
    max-width: 20px;
}

.expanded-content {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: scroll;
    padding: 20px;
}

.expanded-content h2 {
    margin-top: 20px;
}

.expanded-content ul, .expanded-content ol {
    padding-left: 20px;
}

.expanded-content ion-button {
    --background: #FA9512;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

ion-checkbox {
    --size: 16px;
}

ion-checkbox::part(container) {
    border: 1px solid #000;
    fill: rgb(255, 255, 255);
    --checkbox-background-checked: #f38e28;
}