ion-card {
    --background: #FA9512;
    --color: #000;
    margin-bottom: 10%;
    max-width: 400px;
    border-radius: 10px;
  }

ion-content{
    margin: auto;
    width: 50%;
    padding: 10px;
}
  
ion-card-title {
    --color: #000;
  }
  
ion-card-subtitle {
    --color: #000;
  }

.button-container {
    display: flex;        // Enable flex layout
    justify-content: center; // Center horizontally
    margin-top: 10px;     // Add space from content
}

ion-button {
    --color: white;      // Button icon and text color
    --background: #000;  // Default button background
}

.card-button{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}

