ion-card {
    --background: #FA9512;
    --color: #000;
    margin-bottom: 10%;
    max-width: 400px;
    border-radius: 10px;
  }
  
ion-card-title {
    --color: #000;
  }
  
ion-card-subtitle {
    --color: #000;
  }

ion-button{
    --color: #000;
    --fill: #000; 
}

