ion-card {
    --background: #FA9512;
    --color: #000;
  }
  
ion-card-title {
    --color: #000;
  }
  
ion-card-subtitle {
    --color: #000;
  }

ion-button{
    --color: #000;
    --fill: #000; 
}