<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Browse Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centered-content">
  <!-- Display the current recipe -->
  <ion-card *ngIf="recipes.length > 0">
    <img alt="recipe image" src="{{recipes[currentRecipeIndex].img}}"/>    <ion-card-header>
      <ion-card-title>{{ recipes[currentRecipeIndex].name }}</ion-card-title>
      <ion-card-subtitle>{{ recipes[currentRecipeIndex].subtitle }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ recipes[currentRecipeIndex].description }}
    </ion-card-content>

    <div class="button-container">
      <!-- Close Button -->
      <ion-button (click)="skipRecipe()" class="card-button">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>

      <!-- Bookmark Button -->
      <ion-button (click)="bookmarkRecipe()" class="card-button">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
</ion-content>