<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your Pantry</ion-title>
    <ion-buttons slot="start">
      <ion-img src="../../assets/Images/recipe-radar-logo.png" class="logo"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-text>Update your pantry here!</ion-text>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of pantryItems; let i = index">
      <ion-label>{{ item }}</ion-label>
      <ion-buttons slot="end">
        <ion-button color="black" (click)="editItem(i)">
          <ion-icon slot="icon-only" color="orange" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteItem(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>


  <ion-item>
    <ion-input [(ngModel)]="newItem" placeholder="Add new item"></ion-input>
    <ion-button (click)="addItem()">Add</ion-button>
  </ion-item>
</ion-content>
